body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color:green;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
}

#main-content {
    display: none;
}
